* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.about-me a {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #7f8cff;
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
}

.about-myself-top {
  background-image: url(img/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 1rem 0 0 0;
  height: 100%;
  background-color: #fff;
  border-radius: 0 0 0 5rem;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background: #fff;
}

.menu-bar a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
}

.intro h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #172b4d;
  padding: 6rem 1rem 0 1rem;
}

.intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #344563;
  padding: 0 1rem 1rem 1rem;
}

.connect {
  font-style: normal;
  font-weight: 600;
  color: #7f8cff;
  padding: 0  1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  padding: 1.5rem 1rem 9rem 1rem;
}

.social-icons li a {
  margin-right: 2rem;
  font-size: larger;
  color: #505f79;
}

.fab {
  font-size: x-large;
}

/* main start here */

main {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5rem;
  padding-top: 5rem;
}

.work {
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* height: 38rem; */
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: -0.2px -0.1px gray;
}

.img-work {
  width: 90%;
  height: auto;
  padding-top: 1rem;
}

.work h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  font-size: 2.5rem;
  margin: 0.5rem;
  align-self: flex-start;
}

.work-top {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin: 1rem 3rem 1rem 1rem;
  align-self: flex-start;
}

.work-top li {
  padding-right: 0.5rem;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #344563;
  font-size: 0.9rem;
}

.dev {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #7a869a;

  /* padding-left: 0.5rem; */
  text-transform: capitalize;
}

.body-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6rem;
  color: #344563;
  margin: 0.5rem 1rem 0.5rem 0.9rem;
  font-size: 1rem;
}

.work-bottom {
  display: flex;
  align-self: flex-start;
  padding: 1rem 2rem 0 1rem;
}

.work-bottom li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #6070ff;
  border: 1px solid #dadbff;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  margin-right: 1rem;
  background-color: #ebebff;
}

.btn-body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #396df2;
  margin: 1rem 0 2rem 1rem;
  text-transform: capitalize;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #f7f7f9;
  align-items: flex-start;
  align-self: flex-start;
}

form {
  align-self: flex-start;
}

.about-myself {
  background-color: #fff;
  border-radius: 0 5rem 0 0;
}

.about-myself .myself-header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2.6rem;
  color: #172b4d;
  line-height: 3rem;
  text-transform: capitalize;
  padding: 2rem 10rem 2rem 1rem;
}

.about-myself .myself-paragraph {
  font-family: "Poppins", sans-serif;
  font-family: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #344563;
  padding: 1rem 1rem 2rem 1rem;
}

.icon-body .social-icons {
  padding: 1.5rem 1rem 1rem 1rem;
}

.skills li {
  font-family: "Poppins", sans-serif;
  padding: 2rem 0 5rem 1rem;
}

.language,
.skill,
.framework {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 1rem 0;
  margin: 0 1rem 1rem 1rem;
}

.dropdowns {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
}

.framework,
.skill {
  border-bottom: 2px solid #e3e5e9;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.script,
.css,
.html {
  display: flex;
  align-items: center;
  margin: 0 2.5rem 2rem 1rem;
  background-color: #f7f7f9;
  border-radius: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

.script li,
.css li,
.html li {
  font-family: "Poppins", sans-serif;
  font-family: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #344563;
  padding-left: 1rem;
}
