* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #e5e5e5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.about-me a {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #7f8cff;
  font-style: normal;
  font-weight: bolder;
  font-size: 1rem;
}

.about-myself-top {
  background: #fff url(img/header-shapes-mobile.svg) 50% no-repeat;
  background-size: contain;
  padding: 1rem 0 0 0;
  height: 100%;
  border-radius: 0 0 0 5rem;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
  background: #fff;
}

.menu-bar a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  text-transform: capitalize;
  color: #6070ff;
}

.intro h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #091e42;
  padding: 6rem 1rem 0 1rem;
}

.intro p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #344563;
  padding: 0 1rem 1rem 1rem;
}

.connect {
  font-style: normal;
  font-weight: 600;
  color: #7f8cff;
  padding: 0  1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  padding: 1.5rem 1rem 9rem 1rem;
}

.social-icons li a {
  margin-right: 2rem;
  font-size: larger;
  color: #505f79;
}

.fab {
  font-size: x-large;
}

/* main start here */

main {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 5rem;
  padding-top: 5rem;
}

.work {
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: -0.2px -0.1px gray;
}

.img-work {
  width: 90%;
  height: auto;
  padding-top: 1rem;
}

.work h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #172b4d;
  font-size: 2.5rem;
  margin: 0.5rem;
  align-self: flex-start;
}

.work-top {
  display: flex;
  align-items: center;
  line-height: 20px;
  margin: 1rem 3rem 1rem 1rem;
  align-self: flex-start;
}

.work-top li {
  padding-right: 0.5rem;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #344563;
  font-size: 0.9rem;
}

.dev {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #7a869a;
  text-transform: capitalize;
}

.body-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.6rem;
  color: #344563;
  margin: 0.5rem 1rem 0.5rem 0.9rem;
  font-size: 1rem;
}

.work-bottom {
  display: flex;
  align-self: flex-start;
  padding: 1rem 2rem 0 1rem;
}

.work-bottom li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #6070ff;
  border: 1px solid #dadbff;
  border-radius: 0.5rem;
  padding: 0 0.2rem;
  margin-right: 1rem;
  background-color: #ebebff;
}

.btn-body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #396df2;
  margin: 1rem 0 2rem 1rem;
  text-transform: capitalize;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #f7f7f9;
  align-items: flex-start;
  align-self: flex-start;
}

form {
  align-self: flex-start;
}

.about-myself {
  background-color: #fff;
  border-radius: 0 5rem 0 0;
}

.about-myself .myself-header {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2.6rem;
  color: #172b4d;
  line-height: 3rem;
  text-transform: capitalize;
  padding: 2rem 10rem 2rem 1rem;
}

.about-myself .myself-paragraph {
  font-family: "Poppins", sans-serif;
  font-family: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #172b4d;
  padding: 1rem 1rem 2rem 1rem;
}

.icon-body .social-icons {
  padding: 1.5rem 1rem 1rem 1rem;
}

.skills li {
  font-family: "Poppins", sans-serif;
  padding: 2rem 0 5rem 1rem;
}

.language,
.skill,
.framework {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 1rem 0;
  margin: 0 1rem 1rem 1rem;
}

.dropdowns {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 1.2rem;
  color: #172b4d;
}

.framework,
.skill {
  border-bottom: 2px solid #e3e5e9;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.script,
.css,
.html {
  display: flex;
  align-items: center;
  margin: 0 2.5rem 2rem 1rem;
  background-color: #f7f7f9;
  border-radius: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

.script li,
.css li,
.html li {
  font-family: "Poppins", sans-serif;
  font-family: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #344563;
  padding-left: 1rem;
}

.contact {
  background-color: #fff;
}

.contact-me form {
  margin: auto;
}

.contact-me {
  background: #6070ff url(img/footer.svg) 50% no-repeat;
  background-size: contain;
  border-radius: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  align-items: center;
  padding: 24px;
  background-position-x: 100%;
}

.contact-me h2 {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  padding: 80px 0 15px 0;
}

.contact-me p {
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 2rem;
  color: #fff;
}

.textfield {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 5px 5px 20px 5px;
  margin-top: 12px;
}

.textarea {
  width: 100%;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 5px 5px 20px 5px;
  margin-top: 12px;
  height: 10rem;
}

.btn-body-footer {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-items: center;
  font-size: 1rem;
  color: #396df2;
  padding: 12px 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  margin: 10px 0 2rem 0;
}

.btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border: 1px solid #fff;
  color: white;
}

.btn-body-footer:active {
  background: #2230d2;
}

.menu-bar img {
  display: block;
}

.menu-bar ul {
  display: none;
}

.work-bottom2 {
  display: none;
}

@media (min-width: 1100px) {
  .menu-bar ul {
    text-transform: capitalize;
    display: block;
    display: flex;
    align-items: center;
    padding: 0 3rem;
  }

  .menu-bar li {
    padding: 0 0 0 1.5rem;
  }

  .desktop-menu a {
    color: #6070ff;
  }

  .img-logo {
    padding: 0 3rem;
  }

  .menu-bar img {
    display: none;
  }

  .intro h1 {
    margin: 0 5rem;
    width: 80%;
    word-spacing: 0.05rem;
  }

  .intro p,
  .connect-header,
  .icons-header {
    margin: 0 5rem;
    word-spacing: 0.05rem;
    line-height: 2rem;
  }

  .about-myself-top {
    background: #fff url(img/desktop-header-bg.svg) 50% no-repeat;
    background-size: contain;
  }

  .work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    align-items: center;
  }

  .img-work {
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
  }

  .body-content {
    margin: 1rem;
  }

  .work-top {
    margin: 0 1rem 1.5rem 1rem;
  }

  .work-top li {
    padding: 0 0.4rem 0 0;
  }

  .work-bottom {
    display: none;
  }

  .work-bottom2 {
    display: flex;
    justify-content: left;
    padding: 1rem 2rem 0 1rem;
    align-items: center;
  }

  .work-bottom-desk {
    display: block;
    display: flex;
    justify-content: left;
    padding: 1rem 2rem 0 1rem;
    align-items: center;
  }

  .work-bottom-desk li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.85rem;
    color: #6070ff;
    border: 1px solid #dadbff;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    background-color: #ebebff;
    padding: 0 0.2rem;
  }

  .work-bottom2 li {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 0.85rem;
    color: #6070ff;
    border: 1px solid #dadbff;
    border-radius: 0.5rem;
    margin-right: 0.2rem;
    background-color: #ebebff;
    padding: 0 0.2rem;
  }

  .about-myself,
  .work-one,
  .img-work-four,
  .img-work-two,
  .work-two {
    order: 1;
  }

  .about-myself {
    display: flex;
    flex-direction: row;
  }

  .flex-item {
    flex: 1 1;
  }

  .flex-item2 {
    margin: 7rem 2rem 2rem 0.5rem;
  }

  .flex-item1 {
    margin: 5rem 0.5rem 2rem 2rem;
  }

  .script,
  .css,
  .html {
    display: flex;
    flex-direction: column;
    margin: 0.2rem 1.2rem 2rem 0.2rem;
    width: 6rem;
    box-sizing: border-box;
  }

  .script li,
  .css li,
  .html li {
    align-self: flex-start;
    padding: 0 0.3rem;
  }

  .program-languages {
    display: flex;
  }

  .contact-me p {
    align-self: center;
    width: 70%;
  }

  .contact-me {
    display: flex;
    align-items: center;
    background: #6070ff url(img/desk-footer-bg.svg) 50% no-repeat;
    background-size: contain;
  }

  .contact form {
    align-self: center;
    width: 70%;
    text-align: center;
  }

  .btn-body-footer {
    text-align: center;
    border-radius: 0;
  }

  .textfield {
    margin-bottom: 0.5rem;
    border-radius: 0;
  }

  .textarea {
    border-radius: 0;
  }
}
